.container-fluid{
    padding-left: 0px;
    padding-right:0px;
  }

  header{
    background-color:#47B0C5;
    color: #fff;
    text-align:center;
    padding:20px;
    margin:0;

  }

  input[type="text"], input[type="password"]{

    width:100%;
    height:auto;
    border:1px solid #e7e7e7;
    margin:10px 0px;
    border-radius:5px;
    box-shadow: 0px 2px 6px #e7e7e7;
    padding:7px;
    text-align:center;

  }

  .btn-primary{

    box-shadow: 0px 2px 6px #e7e7e7;
    padding:7px;
    width:100px;
    height: auto;
    margin:10px 0px;
  }